<!doctype html>
<html>
<head>
  <title>Inicio</title> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
        <div class="container">
                <nav class="nav nav-pills nav-justified mt-2">
                <img src="https://leonautas.files.wordpress.com/2019/10/biblioteca-logo.png" width ="50px" height="50px">
                <a class="nav-link nav-item disabled active" href="#">Inicio</a>
                <a class="nav-link nav-item" href="talleres.html">Talleres</a>
                <a class="nav-link nav-item" href="catalogo.html">Catálogo</a>
                <a class="nav-link nav-item" href="historia.html">Historia</a>
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Mi Cuenta</a>
                <div class="dropdown-menu">
                        <p class="dropdown-item">{Nombre y Apellido Generico}</p>
                        <hr>
                        <a class="dropdown-item" href="#">Cambiar Contraseña</a>
                        <a class="dropdown-item" href="signin.html">Cerrar Sesión</a>
                      </div>
                </nav>
                </div>
<h1>Bienvenido {Nombre y Apellido Generico}</h1>




<div class="container">
    <div id="accordion1">
      <div class="card">
        <div class="card-header" id="cabecera1">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#respuesta1" aria-expanded="true" aria-controls="respuesta1">
              Mis reservas
            </button>
          </h5>
        </div>
        <div id="respuesta1" class="collapse" aria-labelledby="cabecera1" data-parent="#accordion1">
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
              mollit anim id est laborum.
          </div>
        </div>
      </div>
 
      <div class="card">
        <div class="card-header" id="cabecera2">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta2" aria-expanded="false" aria-controls="respuesta2">
              Mis retiros
            </button>
          </h5>
        </div>
        <div id="respuesta2" class="collapse" aria-labelledby="cabecera2" data-parent="#accordion1">
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
              mollit anim id est laborum.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="cabecera3">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta3" aria-expanded="false" aria-controls="respuesta3">
              Mi historial
            </button>
          </h5>
        </div>
        <div id="respuesta3" class="collapse" aria-labelledby="cabecera3" data-parent="#accordion1">
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
              mollit anim id est laborum.
          </div>
        </div>
      </div>
 
      <div class="card">
        <div class="card-header" id="cabecera4">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#respuesta4" aria-expanded="false" aria-controls="respuesta4">
              Mis talleres
            </button>
          </h5>
        </div>
        <div id="respuesta4" class="collapse" aria-labelledby="cabecera4" data-parent="#accordion1">
          <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
              mollit anim id est laborum.
          </div>
        </div>
      </div>
    </div>    
 
  </div>












  <div class="card-group mt-3">
    <div class="card text-center border-info">
        <div class="card-body">
            <h4 class="card-title">Cuota<hr></h4>
            <p class="card-text">
                <div id="accordion5">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#respuesta5" aria-expanded="true" aria-controls="respuesta5">
                     Situación
                    </button>
                      </h5>
            <div id="respuesta5" class="collapse" aria-labelledby="cabecera5" data-parent="#accordion5">
                  <div class="card-body">
                  Se encuentra al día. 
                  <br>
                  <br> 
                  Próximo fecha de pago: 20/11/2021
                  </div>
            </div>
          </div>
            </p>
            <a href="#" class="btn btn-primary">Pagar</a>
        </div>
    </div>
    <div class="card text-center border-info">
        <div class="card-body">
            <h4 class="card-title">Titulo de la tarjeta 2</h4>
            <p class="card-text">
                <div id="accordion6">
                    <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#respuesta6" aria-expanded="true" aria-controls="respuesta6">
                     Pregunta frecuente 2
                    </button>
                      </h5>
            <div id="respuesta6" class="collapse" aria-labelledby="cabecera6" data-parent="#accordion6">
                  <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                  dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu 
                  fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt 
                  mollit anim id est laborum.
                  </div>
            </div>
          </div>

            </p>
            <a href="#" class="btn btn-primary">Entrar</a>
        </div>
    </div>
</div>














  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  
</body>
</html>