<body>

<link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class="container">
        <nav class="nav nav-pills nav-justified mt-2">
        <img src="https://leonautas.files.wordpress.com/2019/10/biblioteca-logo.png" width ="50px" height="50px">
        <a class="nav-link nav-item" href="home.html">Inicio</a>
        <a class="nav-link nav-item" href="#">Talleres</a>
        <a class="nav-link nav-item" href="#">Catálogo</a>
        <a class="nav-link nav-item" href="#">Historia</a>
        <a class="nav-link nav-item disabled active" href="#">Mi cuenta</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown"
            href="#">Buscadores</a>
            <div class="dropdown-menu">
            <a class="dropdown-item" href="http://www.google.com">Google</a>
            <a class="dropdown-item" href="http://www.bing.com">Bing</a>
            <a class="dropdown-item" href="http://www.yahoo.com">Yahoo</a>
            </div>
            </li>            
        </nav>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF9
3hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXus
vfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76
PVCmYl" crossorigin="anonymous"></script>
</body>