{% if session['iduser'] is defined %}
    {% extends "layoutSocio.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}
{% block title %}Inicio{% endblock %}
        {% block signin %}<a class="nav-link nav-item active disabled" href="{{url_for('signin')}}">Iniciar Sesión</a>{% endblock %} 
{% block content %}
<div class="container">
    <h1>Ingrese con su cuenta de socio</h1>
    <p></p>
</div>

<div class="row justify-content-center main">
    <h3 class="text-secondary fw-bolder"></h3>
    <form class="main-form" method="POST" action="/validarUsuario" enctype="multipart/form-data">
        <div class="form-row">
            <label class="form-label">Usuario</label>
            <input class="form-input" type="text" name="usuario" id="usuario" required />
        </div>
        <div class="form-row">
            <label class="form-label">Contraseña</label>
            <input class="form-input" type="password" name="contraseña" id="contraseña" required />
        </div>
        <button class="form-submit" type="submit">Confirmar</button>
    </form>
</div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
{% endblock %}