{% if session['iduser'] is defined %}
    {% extends "layoutSocio.html" %}
{% else %}
    {% extends "layout.html" %}
{% endif %}
{% block title %}Talleres{% endblock %}
        {% block talleres %}<a class="nav-link nav-item active disabled" href="{{url_for('talleres')}}">Talleres</a>{% endblock %} 

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
    <p class="mt-3">
    {% for message in messages %}
        {{ message }}<br>
    {% endfor %}
    </p>
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
    {% if talleres is defined and talleres|length > 0 %}
        {% for taller in talleres %}
            {% if loop.index % 4 == 0 or loop.index == 1 %}
            <div class="row mt-3">
            {% endif %}
            <div class="col-md-4">
            <div class="card text-center">
            <div class="card-header">
            <img src="{{taller.9}}" width="200px" height="200px">
            </div>
            <div class="card-body">
            <h4 class="card-title">{{taller.3}}</h4>
            <p class="card-text">
                Dia: {{taller.6}} <br>
                Horario: {{taller.7}} a {{taller.8}} <br>
                Disertante: Juan Lopez <br>
                Costo: ${{taller.5}} <br>
                Duracion: {{taller.10}} clases (Primera Clase: {{taller.1}})
            </p>
            {% if taller.4 == 0 %}
            <button class="btn btn-dark" disabled>Inscribirse</button>
            {% else %}
            <a href="{{url_for('pagarTaller', idtaller=taller.0)}}" class="btn btn-primary">Inscribirse</a>
            {% endif %}
            </div>
            <div class="card-footer">
            {% if taller.4 == 0 %}
            Inscripción abierta. <br> 
            Cupos agotados.
            {% else %}
            Inscripción abierta. <br>
            Cupos limitados.
            {% endif %}
            </div>
            </div>
            </div>
            {% if loop.index % 3 == 0 or loop.last %}
            </div>
            {% endif %}
        {% else %}
        <p>No hay talleres activos.</p>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}